<!DOCTYPE html>
<html>
<head>
    <title>Flask Bootstrap App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Add Bootstrap and jQuery CDN links here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #fbdea9 !important;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SkinGuard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- Add additional navigation items here -->
            </ul>
        </div>
    </nav>

    <div class="container text-center mx-auto mt-5">
            <h1>Please upload a picture of your face for scanning.</h1>
            <p>After an import, we will scan for possible skin conditions.</p>
            <form>
                    <div class="form-group">
                        <div class="form-group text-center">
                            <label for="fileInput">Choose file</label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-auto d-block">Import</button>
                        <div class="form-group text-center mx-auto d-block">
                            <input type="file" class="form-control-file" id="fileInput" name="image">
                        </div>
                </form>
    </div>

    
    <!-- Footer -->
    <footer class="footer bg-dark text-light text-center mt-5">
        <div class="container">
            <p>&copy; SkinGuard 2023</p>
        </div>
    </footer>

    <script>
        function myFunction() {
            var inputVal = document.getElementById("myInput").value;
            window.location.href = "/submit?inputVal=" + inputVal;
        }
    </script>
</body>
</html>
